################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NumberToWord/obj
/.vs/NumberToWord/v16/.suo
/NumberToWord/bin/Debug/netcoreapp3.1
/NumberToWordTests/obj
/NumberToWordTests/bin/Debug/netcoreapp3.1
